<!doctype html>
<html ng-app='evercode'>
  <head>
    <meta charset='utf-8' />
    <title>Evercode</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <link rel="stylesheet" type="text/css" href="lib/codemirror/lib/codemirror.css">
  </head>
  <body>
    <ul id="nav-mobile" class="side-nav fixed" style="width: 240px;" ng-controller='DirectoriesCtrl' ng-show="location != '/signup' && location != '/signin'">
      <li class="search">
        <div class="search-wrapper card">
          <input id="search" /><i class="material-icons">search</i>
          <div class="search-results"></div>
        </div>
      </li>
      <li>
        <form name="folderForm" ng-submit="addFolder()" novalidate>
          <div class="form-group">
            <input placeholder="New Folder" type="text" class="validate" class='form-control' maxlength='20' ng-minlength='1' ng-model='folder.name' />
          </div>
        </form>
      </li>
      <li class="bold active"><a href="#/favorites" class="waves-effect waves-teal">Favorites</a></li>
      <li class='folder' ng-repeat="folder in data.folders">
        <a href='#' class="waves-effect waves-teal" ng-click='changeFolder(folder.name)'>{{folder.name}}</a>
      </li>
    </ul>
    <div ui-view class='main'>      
    </div>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="lib/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="lib/angular-ui-codemirror/ui-codemirror.js"></script>

    <script src="app/app.js"></script>
    <script src="app/auth/auth.js"></script>
    <script src="app/directories/directories.js"></script>
    <script src="app/editor/editor.js"></script>
    <script src="app/services/services.js"></script>
    <script src="app/snippets/snippets.js"></script>
  </body>
</html>
