<div class="row">
  <div class="user-profile">
    <img ng-show='mainCtrl.avatar' class="circle responsive-img" src={{mainCtrl.avatar}} />
    <img ng-hide='mainCtrl.avatar' class="responsive-img" src="../../assets/avatar.png" />
    <div class="col s12">
      <form name="profile-username" 
        ng-submit="profile.changeUsername(profile.activeUser.username)">
        <div class="form-group col s9">
          <input class='form-control' 
            id="profile-username-input"
            name="username" 
            type="text" 
            ng-model='profile.username' 
            ng-maxlength="20"
          />
        </div>
        <button class="col m3 waves-effect waves-light btn save-snippet right"
          type="submit" ><i class="material-icons">{{profile.activeUser.username === profile.username ? 'edit' : 'save'}}</i>
        </button>
        <p class="help-block" 
          ng-show="snippetForm.title.$error.maxlength">
          Snippet name must be less than 20 characters
        </p>
      </form>
    </div>
    <hr>
    {{profile.activeUser.email}}
    <h6>Editor Theme</h6>
    <hr>
    <div class="profile-theme">
      <select ng-model="profile.userTheme" ng-init="profile.userTheme = profile.userTheme || 'eclipse'" ng-options="theme as theme for theme in profile.cmThemes" ng-change="profile.changeTheme(profile.userTheme)" class="browser-default">
      </select>
    </div>
    <h6>Default Language</h6>
    <hr>
    <div class="profile-language">
      <select ng-model="profile.userLanguage" ng-init="profile.userLanguage = profile.userLanguage || 'javascript'" ng-options="language as language for language in profile.cmLanguages" ng-change="profile.changeLanguage(profile.userLanguage)" class="browser-default">
      </select>
    </div>
  </div>
</div>