<ul class="snippets side-nav">
    <div>
      <h4>Favorites</h4>
    </div>
    <div class="fade" ng-click="snippets.changeSelectedSnippet(snippet.filePath)" ng-repeat="snippet in snippets.favoritesArr | orderBy:'_createdAt' | filter:{favorite:true}">
      <div class="folder-list waves-effect col s12">
        <span class="folder-list-item">
          <a class="no-waves folder-list-link">
            <span class="folder-text valign-wrapper">
              <i class="material-icons code-icon valign">code</i>
              {{snippet.name}}
            </span>
          </a>
        </span>
        <span class="folder-list-item right">
          <i ng-click="snippets.toggleFavorite(snippet)" class="waves-effect material-icons snippet-icon">star</i>
        </span>
        <p class="list-description">
          {{snippet.description}}
        </p>
      </div>
    </div>
  </div>
</ul>