<div class='ng-modal' ng-show='folderModalCtrl.show'>
  <div class='ng-modal-overlay folder-overlay' ng-click='folderModalCtrl.hideModal()'>
  </div>
  <div class='ng-modal-dialog ng-modal-folder-dialog card section' ng-style='dialogStyle'>
    <div class='ng-modal-close row' ng-click='folderModalCtrl.hideModal()'>
      X
    </div>
    <div>
      Change folder name:
    </div>
    <div>
      <form name="updateFolder" ng-submit="folderModalCtrl.renameFolder()" novalidate>
        <div class="form-group">
          <input type="text" class="validate" class="form-control" maxlength="20" ng-minlength="1" ng-model="folderModalCtrl.name"/>
        </div>
      </form>
    </div>
  </div
</div>