<ul class="snippets side-nav">
  <div class="col s12">
    <span class="add-button col s4 center-align">
      <a class="btn-flat tooltipped waves-effect waves-teal" data-position="bottom" data-delay="800" ng-click="snippets.deselectSnippet()" data-tooltip="Add a snippet"><i class="large material-icons">note_add</i></a>
    </span>
    <span class="add-button col s4 center-align">
      <a class="btn-flat tooltipped waves-effect waves-teal" data-position="bottom" ng-click="snippets.toggleFolderNameInput()" data-delay="800" data-tooltip="Add a folder"><i class="large material-icons">create_new_folder</i></a>
    </span>
    <span class="add-button col s4 center-align">
      <a class="btn-flat tooltipped waves-effect waves-teal" data-position="bottom" ng-click="snippets.closeSideNav()" data-delay="800" data-tooltip="Hide List View"><i class="large material-icons">cancel</i></a>
    </span>
  </div>
  <form ng-show='snippets.folderInput' name="subFolderForm" ng-submit="snippets.addFolder()" novalidate>
    <div class="form-group">
      <input placeholder="New Subfolder" type="text" class="validate" class="form-control" maxlength="20" ng-minlength="1" ng-model="snippets.subFolder.name" />
    </div>
  </form>
  <div>
    <div ng-show='snippets.selectedFolderObj.parent'>
      <a class="waves-effect waves-teal collection-item" ng-click="snippets.changeActiveTab(snippets.selectedFolderObj.parent)">
        <span class="flow-text back-button">
          <i class="material-icons">arrow_back</i>
          {{snippets.selectedFolderObj.parent}}
        </span>
      </a>
    </div>
    <div>
      {{snippets.visibleFolders.length ? 'Folders' : ''}}
    </div>
    <div class="fade" ng-repeat="folder in snippets.visibleFolders track by $index">
      <div class="folder-list">
        <span class="folder-list-item">
          <a class="waves-effect waves-teal folder-list-link" ng-click="snippets.changeActiveTab(folder.filePath)">
            <span class="folder-text valign-wrapper">
              <i class="material-icons folder-icon valign">folder</i>
              <span class='folder-name'>{{folder.value}}</span>
            </span>
          </a>
        </span>
        <span class="folder-list-item right">
        <i ng-click="snippets.showToolbar($index)" class="waves-effect waves-teal material-icons snippet-icon">more_vert</i>
        </span>
        <div class='row toolbar-folder' id="{{$index}}" style='display: none'>
          <i ng-click="snippets.removeFolder(folder.filePath)"
          class="waves-effect waves-teal right material-icons snippet-icon tooltipped"
          data-tooltip="Remove Folder"
          data-position="bottom"
          data-delay="800">delete</i>
          <i ng-click="snippets.toggleFolderModal(folder)"
          class="waves-effect waves-teal right material-icons snippet-icon tooltipped"
          data-tooltip="Edit Name"
          data-position="bottom"
          data-delay="800">edit</i>
        </div>
      </div>
    </div>
    <div>
      {{snippets.visibleSnippets.length ? 'Snippets' : ''}}
    </div>
    <div class="fade" ng-repeat="snippet in snippets.visibleSnippets | orderBy:'value.name' track by $index" >
      <div class="folder-list">
      <div class='snippet-name row'>
        <span class="waves-effect waves-teal">
          <a class="folder-list-link" ng-click="snippets.changeSelectedSnippet(snippet.filePath)">
            <span class="folder-text valign-wrapper">
              <i class="material-icons code-icon valign">code</i>
              {{snippet.value.name}}
            </span>
        </a>
        </span>
        <span class="folder-list-item right">
          <i ng-click="snippets.showToolbar(snippet.value._id)" class="waves-effect waves-teal material-icons snippet-icon">more_vert</i>
        </span>
        </div>
        <div class='row toolbar-snippet' id='{{snippet.value._id}}' style='display: none'>
          <i ng-click="snippets.focusNameInput(snippet.value.filePath)"
          class="waves-effect waves-teal material-icons snippet-icon tooltipped"
          data-tooltip="Edit Name"
          data-position="bottom"
          data-delay="800"
          >edit</i>
          <i ng-click="snippets.toggleMoveModal(snippet)"
          class="waves-effect waves-teal material-icons snippet-icon tooltipped"
          data-tooltip="Move Snippet"
          data-position="bottom"
          data-delay="800">keyboard_arrow_up</i>
          <i ng-click="snippets.toggleFavorite(snippet)"
          class="waves-effect waves-teal material-icons snippet-icon tooltipped"
          data-tooltip="Toggle as favorite"
          data-position="bottom"
          data-delay="800">{{snippet.value.favorite ? 'star' : 'star_border'}}</i>
            <i class="waves-effect waves-teal material-icons snippet-icon tooltipped"
            ngclipboard data-clipboard-text={{snippet.value.data}}
            data-tooltip="Copy to clipboard"
            data-position="bottom"
            data-delay="800">assignment</i>
          <i ng-click="snippets.removeSnippet(snippet)"
          class="waves-effect waves-teal material-icons snippet-icon tooltipped"
          data-tooltip="Delete Snippet"
          data-position="bottom"
          data-delay="800">delete</i>
        </div>
        <p class="list-description">
          {{snippet.value.description}}
        </p>
      </div>
    </div>
  </div>
</ul>

<!-- -------------- MODAL VIEW -------------- -->
<folder name="snippets.folderModal.value" selectedfolder="snippets.folderModal" show="snippets.folderModalShow" width='200px' height='100px'>
</folder>
<move paths='snippets.paths' name="snippets.moveModal.value.name" selectedsnippet="snippets.moveModal" show="snippets.moveModalShow" width='auto' height='auto'>
</move>