#server
/files-server/setup.js
/files-server/gmail-credentials.json
/files-server/client_secret.json
/user-server/setup.js
/user-server/setup.js
/user-server/gmail-credentials.json

setup.js

#client
client/lib/*
client/dist/*
client/styles/materialize.css

#npm_files
/node_modules/*
*.rdb
npm-debug.log
