#server
/server/config.js
/server/gmail-credentials.json
/server/client_secret.json

#client
/client/lib/*
/client/dist/*
/client/styles/materialize.css

#npm_files
/node_modules/*
*.rdb
npm-debug.log
nevercode-sublime-setup.zip