<div class="row editor-row">
  <form name="snippetForm" ng-submit="editor.selectedSnippet ? editor.updateSnippet() : editor.addSnippet()" novalidate>
    <div class="form-group snippet-title">
      <input id="snippet-name-input" placeholder="Name Your Snippet" type="text" class='form-control col m9' ng-model='editor.snippetObj.name' />
    </div>
    <button type="submit" class="col m3 waves-effect waves-light btn save-snippet">{{editor.buttonText}}<i class='material-icons right'>system_update_alt</i></button>
  </form>
</div>
<div class="row editor-row">
  <div ng-show="editor.selectedSnippet" class='tags col m9'>
    <span class="tag">TAGS: </span><span class='chip tag' ng-repeat="tag in editor.snippetMap[editor.selectedSnippet].value.tags">{{ tag }}<i ng-click="editor.removeOrAddTag(tag)" class="material-icons">close</i></span>
    <span style="margin-left: 10px" class='chip tag' ng-click="editor.toggleTag()">+</span>
  </div>
</div>
<div class="row editor-row">
  <span ng-show="editor.addTag" class="col m9">
    <form name="tagForm" ng-submit="editor.removeOrAddTag()" novalidate>
      <input placeholder="Add tag" type="text" ng-model='editor.tag'/>
    </form>
  </span>
</div>
<div class="code-editor row card">
  <div class="col s12 code-toolbar valign-wrapper">
    <div class="col s1 copy-code">
      <a class="valign waves-effect waves-teal btn-flat" ngclipboard data-clipboard-text={{editor.snippetObj.data}}>
        <i class="material-icons center-align">assignment</i>
      </a>
    </div>
    <div class="col s3 code-selector">
      <select ng-model="editor.editorOption.mode" ng-change="editor.changeLanguage(editor.editorOption.mode)" class="browser-default">
        <option value="" disabled selected>Language</option>
        <option value="javascript">javascript</option>
        <option value="python">python</option>
        <option value="htmlmixed">html</option>
      </select>
    </div>
    <div class="col s3 code-selector">
      <select ng-model="editor.editorOption.theme" ng-change="editor.changeTheme(editor.editorOption.theme)" class="browser-default">
        <option value="" disabled selected>Theme</option>
        <option value="eclipse">eclipse</option>
        <option value="twilight">twilight</option>
        <option value="elegant">elegant</option>
      </select>
    </div>
    <div class="col s3 right-align">
      <a class="waves-effect waves-light btn col m3 right" ng-click="editor.toggleAnnotation()"><i class="material-icons right">comment</i>Annotate</a>
    </div>
  </div>
  <div ng-class="editor.showAnnotation ? 'col m7 s12 code-mirror' : 'col s12 code-mirror'" ng-model='editor.snippetObj.data' ui-codemirror="{ onLoad : editor.codemirrorLoaded }" ui-codemirror-opts="editor.editorOptions">
  </div>
  <div ng-class="editor.showAnnotation ? 'col m5 s12 annotations' : 'toggle-annotation'">
    <div>
      {{editor.snippetObj.annotation}}
    </div>
    <form name="annotate" ng-submit="editor.addAnnotation()" novalidate>
      <h5 class="center-align">Annotations</h5>
      <hr>
      <button type="submit" class="col s12 waves-effect waves-light btn save-annotation">
        Save<i class='material-icons right'>system_update_alt</i>
      </button>
      <textarea ui-tinymce="editor.tinymceOptions" ng-model="editor.annotation"/>
    </form>
  </div>
</div>
