<div class="col s12 m3 l3 innerContainer card" ui-view></div>
<div ng-class="editor.$state.is('main.editor') ? 'col s12 m12 l12 editor' : 'col s12 m9 l9 editor'">
  <div class="row editor-row">
    <form name="snippetForm" ng-submit="editor.selectedSnippet ? editor.updateSnippet() : editor.addSnippet()">
      <div class="form-group snippet-title">
        <input id="snippet-name-input" name="title" placeholder="Name Your Snippet" type="text" class='form-control col m9' ng-model='editor.snippetObj.name' ng-maxlength="20"/>
      </div>
      <button type="submit" class="col m3 waves-effect waves-light btn save-snippet">{{editor.buttonText}}<i class='material-icons right'>archive</i></button>
      <p ng-show="snippetForm.title.$error.maxlength" class="help-block">Snippet name must be less than 20 characters</p>
    </form>
    <form name="descriptionForm" ng-submit="editor.selectedSnippet ? editor.updateSnippet() : ' '">
      <div class="form-group snippet-description">
        <input id="snippet-description-input" name="description" placeholder="add a description" type="text" class="form-control col s12" ng-model="editor.snippetObj.description" ng-maxlength="100"/>
        <p ng-show="descriptionForm.description.$error.maxlength" class="help-block">Description must be less than 100 characters</p>
      </div>
    </form>
  </div>
  <div class="row tag-row">
    <div class='tags col s12 valign-wrapper'>
      <span class="tag valign">TAGS: </span><span class='chip tag' ng-repeat="tag in editor.snippetMap[editor.selectedSnippet].value.tags">{{ tag }}<i ng-click="editor.removeOrAddTag(tag)" class="material-icons">close</i></span>
      <span class='chip tag addTag tooltipped' ng-hide="editor.addTag" data-tooltip="Add Tag" data-position="right" data-delay="50" ng-click="editor.toggleTag()">+</span>
      <span class='chip tag addTag tooltipped' ng-show="editor.addTag" data-tooltip="Close Input" data-position="bottom" data-delay="50" ng-click="editor.toggleTag()">x</span>
      <span ng-show="editor.addTag" class="tag-input valign">
      <form name="tagForm" ng-submit="editor.removeOrAddTag()" novalidate>
        <input placeholder="Add tag" type="text" ng-model='editor.tag'/>
      </form>
    </span>
    </div>
    <div ng-show="editor.selectedSnippet" class='shortcut col m9 valign-wrapper'>
      <span class="valign">Shortcut: </span>
      <span class="valign">
      <form name="shortcut" ng-submit="editor.addShortcut()" novalidate>
        <input placeholder="Add shortcut" type="text" ng-model='editor.snippetObj.shortcut'/>
      </form>
    </span>
    </div>
  </div>
  <div class="code-editor row card">
    <div class="col s12 code-toolbar valign-wrapper">
      <a class="btn" data-tooltip="Copy Snippet" data-position="bottom" data-delay="50" ngclipboard data-clipboard-text={{editor.snippetObj.data}}><i class="material-icons">assignment</i></a>
      <div class="code-selector col s3">
        <select ng-model="editor.snippetObj.language" ng-init="editor.snippetObj.language = editor.snippetObj.language || editor.cmDefaults.language" ng-options="language as language for language in editor.cmLanguages" ng-change="editor.changeLanguage(editor.snippetObj.language)" class="browser-default">
        </select>
      </div>
      <div class="code-selector">
        <select ng-model="editor.userTheme" ng-init="editor.userTheme = editor.userTheme || editor.cmDefaults.theme" ng-options="theme as theme for theme in editor.cmThemes" ng-change="editor.changeTheme(editor.userTheme)" class="browser-default">
        </select>
      </div>
      <div class="switch col s4 right-align">
        <label>
          Private
          <input type="checkbox" ng-click="editor.togglePublic()">
          <span class="lever"></span>
          Public
        </label>
      </div>
    </div>
    <div style="position: relative;">
      <div class="fixed-action-btn horizontal" style="position: absolute; display: inline-block; right: 24px; top: 50px;">
        <a class="btn-floating btn-large red" ng-click="editor.toggleAnnotation()">
          <i class="large material-icons">comment</i>
        </a>
      </div>
    </div>
    <div ng-class="editor.showAnnotation ? 'col m7 s12 code-mirror' : 'col s12 code-mirror'" ng-model='editor.snippetObj.data' ui-codemirror="{ onLoad : editor.codemirrorLoaded }" ui-codemirror-opts="editor.editorOptions">
    </div>
    <div ng-class="editor.showAnnotation ? 'col m5 s12 annotations' : 'toggle-annotation'">
      <form name="annotate" ng-submit="editor.updateSnippet()" novalidate>
        <h5 class="center-align">Notes</h5>
        <hr>
        <textarea ui-tinymce="editor.tinymceOptions" ng-model="editor.snippetObj.annotation" />
        <button type="submit" class="col s12 waves-effect waves-light btn save-annotation">
          Save<i class='material-icons right'>system_update_alt</i>
        </button>
      </form>
    </div>
  </div>
</div>