<div class="row editor-row">
  <form name="snippetForm" ng-submit="editor.selectedSnippet ? editor.updateSnippet() : editor.addSnippet()" novalidate>
    <div class="form-group snippet-title">
      <input id="snippet-name-input" placeholder="Name Your Snippet" type="text" class='form-control col m9' ng-model='editor.snippetObj.name' />
    </div>
    <button type="submit" class="col m3 waves-effect waves-light btn save-snippet">{{editor.buttonText}}<i class='material-icons right'>archive</i></button>
  </form>
</div>
<div class="row tag-row">
  <div class='tags col m9 valign-wrapper'>
    <span class="tag valign">TAGS: </span><span class='chip tag' ng-repeat="tag in editor.snippetMap[editor.selectedSnippet].value.tags">{{ tag }}<i ng-click="editor.removeOrAddTag(tag)" class="material-icons">close</i></span>
    <span class='chip tag addTag tooltipped' ng-hide="editor.addTag" data-tooltip="Add Tag" data-position="right" data-delay="50" ng-click="editor.toggleTag()">+</span>
    <span class='chip tag addTag tooltipped' ng-show="editor.addTag" data-tooltip="Close Input" data-position="bottom" data-delay="50" ng-click="editor.toggleTag()">x</span>
    <span ng-show="editor.addTag" class="tag-input valign">
      <form name="tagForm" ng-submit="editor.removeOrAddTag()" novalidate>
        <input placeholder="Add tag" type="text" ng-model='editor.tag'/>
      </form>
    </span>
  </div>
  <div ng-show="editor.selectedSnippet" class='shortcut col m9 valign-wrapper'>
    <span class="valign">Shortcut: </span>
    <span class="valign">
      <form name="shortcut" ng-submit="editor.addShortcut()" novalidate>
        <input placeholder="Add shortcut" type="text" ng-model='editor.snippetObj.shortcut'/>
      </form>
    </span>
  </div>
</div>
<div class="code-editor row card">
  <div class="col s12 code-toolbar valign-wrapper">
    <div class="col s1 copy-code">
      <a class="valign waves-effect waves-teal btn-flat tooltipped" data-tooltip="Copy Snippet" data-position="bottom" data-delay="50" ngclipboard data-clipboard-text={{editor.snippetObj.data}}>
        <i class="material-icons center-align">assignment</i>
      </a>
    </div>
    <div class="col s2 public-toggle">
      <a class="waves-effect waves-light btn" ng-click="editor.togglePublic()">{{editor.snippetObj.public ? 'Public' : 'Private'}}</a>
    </div>
    <div class="col s3 code-selector">
      <select  ng-model="editor.snippetObj.language" ng-change="editor.changeLanguage(editor.snippetObj.language)" class="browser-default">
        <option ng-repeat="language in editor.cmLanguages" ng-selected="editor.snippetObj.language == language || editor.cmDefaults.language == language" value="{{language}}">{{language}}</option>
      </select>
    </div>
    <div class="col s3 code-selector">
      <select  ng-model="editor.userTheme" ng-change="editor.changeTheme(editor.userTheme)" class="browser-default">
        <option ng-repeat="theme in editor.cmThemes" ng-selected="editor.usertheme == theme || editor.cmDefaults.theme == theme" value="{{theme}}">{{theme}}</option>
      </select>
    </div>
    <div class="col s3 right-align">
      <a class="waves-effect waves-light btn right" ng-click="editor.toggleAnnotation()"><i class="material-icons right">comment</i>Annotate</a>
    </div>
  </div>
  <div ng-class="editor.showAnnotation ? 'col m7 s12 code-mirror' : 'col s12 code-mirror'" ng-model='editor.snippetObj.data' ui-codemirror="{ onLoad : editor.codemirrorLoaded }" ui-codemirror-opts="editor.editorOptions">
  </div>
  <div ng-class="editor.showAnnotation ? 'col m5 s12 annotations' : 'toggle-annotation'">
    <div>
      {{editor.snippetObj.annotation}}
    </div>
    <form name="annotate" ng-submit="editor.addAnnotation()" novalidate>
      <h5 class="center-align">Annotations</h5>
      <hr>
      <button type="submit" class="col s12 waves-effect waves-light btn save-annotation">
        Save<i class='material-icons right'>system_update_alt</i>
      </button>
      <textarea ui-tinymce="editor.tinymceOptions" ng-model="editor.annotation"/>
    </form>
  </div>
</div>
