.container {
  position: absolute;
  height: auto;
  width: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.main {
  position: relative;
  width: 15vw;
  left: 0;
  right: 0;
  bottom: 0;
}

.search-results {
  z-index: 2;
}

.folders {
  padding: 5px;
  font-size: 1.5em;
}

.snippet-icon {
  margin-top: 18px;
}

.snippets {
  position: relative;
  width: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 90vh;
}

.editor {
  position: relative;
  width: auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: 90vh;
}

.snippet-title input {
  width: auto;
  font-size: 3em;
  float: left;
}

.code-selector select {
  color: grey;
  border: 0;
  width: 120px;
  height: 30px;
  border-radius: 3px;
  overflow: hidden;
}

.CodeMirror {
  border: 2px solid #eee;
  height: 72vh;
}

.annotations {
  border-left: 2px solid grey;
  height: 72vh;
}

.annotation-text {
  height: 60vh;
}

.tags {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  clear: both;
}

.tag-row input {
  margin-left: 10px;
  max-width: 100px;
  height: 20px;
  margin-bottom: -10px;
}

.addTag {
  margin-left: 10px;
}

.toggle-annotation {
  display: none;
}

.tag {
  margin-left: 10px; 
  float: left;
}

.folder-name {
  margin-left: 5px;
}

.center a {
  display: inline;
}

.center a:hover {
  background-color: transparent;
}

.icon {
  width: 2rem;
}

#nav-mobile {
  line-height: 3em;
  width: 66px;
  left: 0;
  margin: 0;
  padding: 0px;
  z-index: 999;
  height: 90vh;
}

nav,
.nav-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}

.innerContainer {
  padding-left: 2px !important;
}

.outerContainer {
  margin-left: 0 !important;
}

.container {
  max-width: 100%;
}

/*------------------*/

.innerContainer {
  -webkit-transition: -webkit-transform .5s ease-in-out;
  -moz-transition: -moz-transform .5s ease-in-out;
  -o-transition: -o-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.innerContainer.ng-enter {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.innerContainer.ng-enter.ng-enter-active,
.innerContainer.ng-leave {
  position: absolute;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.innerContainer.ng-leave.ng-leave-active {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

/*--------------------------*/

.search {
  position: relative;
  width: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 170px;
}

.search-results {
  display: none;
}

.editor-row {
  padding-bottom: 3;
  margin: 0;
}

.side-nav li {
  padding: 0;
} 

.logout {
  bottom: 0;
  position: fixed;
}

.snippets.collection-item {
  width: 75px;
}

#toast-container {
    bottom: 50px !important;
    top: inherit !important;
    right: 50px !important;
    left: inherit !important;
}

