.container {
  position: absolute;
  height: auto;
  width: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.main {
  position: relative;
  width: 15vw;
  left: 0;
  right: 0;
  bottom: 0;
}

.folders {
  padding: 5px;
  font-size: 1.5em;
}

.snippets {
  position: relative;
  width: 200px;
  left: 0;
  right: 0;
  bottom: 0;
}

.editor {
  position: relative;
  width: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.snippet-title input {
  width: auto;
  font-size: 3em;
  float: left;
}

.CodeMirror {
  border: 2px solid #eee;
  margin-top: 10px;
  height: 70vh;
}

.annotations {
  border-left: 2px solid grey;
  min-height: 70vh;
}

.annotations > textarea {
  height: 60vh;
}

.tags {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  clear: both;
}

.tags input {
  max-width: 100px;
}

.toggle-tag {
  display: none;
}

.toggle-annotation {
  display: none;
}

.tag {
  margin-left: 10px
  float: left;
}
