<div class="innerContainer">
  <div class="row">
    <h3 class="center"><span style="font-weight: 100">About never</span>:code</h1>
  </div>
  <div class="row">
    <div class="col s12 m12 l12" id="carousel-container">
      <div class="carousel center">
        <a class="carousel-item"
          ng-click="$('.carousel').carousel('next');">
          <img class="circle" src="../assets/n_square_big.png">
        </a>
        <a class="carousel-item"
          ng-click="$('.carousel').carousel('next');">
          <img class="circle" src="../assets/gh_gy.jpeg">
          GERRIT YNTENMA
        </a>
        <a class="carousel-item"
          ng-click="$('.carousel').carousel('next');">
          <img class="circle" src="../assets/gh_eh.jpeg">
          EDISON D. HUFF
        </a>
        <a class="carousel-item"
          ng-click="$('.carousel').carousel('next');">
          <img class="circle" src="../assets/gh_oc.jpg">
          ORLANDO CASTILLO
        </a>
        <a class="carousel-item"
          ng-click="$('.carousel').carousel('next');">
          <img class="circle" src="../assets/gh_mk.png">
          MAKSYM KROSHKA
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l12 center">
      <span class="center" id="about-us-text">
        Nevercode is driven by the question, "How do you become a world class programmer?"
        We aim to help take great programmers and make them wizards by allowing them to easily
        store, edit, and retrieve code throughout their careers. Instead of rifiling through old
        project files for your interesting or useful algorithms, test arrays, and boilerplates
        try pulling them straight into your text editor with &ltN&gtever:code
      </span>
    </div>
  </div>
</div>
<script>$('.carousel').carousel();</script>