<ul class="search side-nav col s12">
  <input id="search-bar" data-activates="search-results" type="text" ng-model="search.searchInput" placeholder="Search your snippets..." />
  <div class="search-results">
    <div>
      <h5>Found by Name</h5>
    </div>

    <div class="search-list-name">
      <div ng-repeat="snippet in search.snippetArr | orderBy:'_createdAt' | filter:{name:search.searchInput}">
        <span class="search-list-item">
          <a ui-sref=".editor" ng-show="search.searchInput" class="waves-effect waves-teal  search-list-link" ng-click="search.changeSelectedSnippet(snippet.filePath)">
          <span class="search-text valign-wrapper">
            <i class="material-icons code-icon valign">code</i>{{snippet.name}}
          </span>
        </a>
        </span>
        <p class="list-description">
          {{snippet.description}}
        </p>
      </div>
    </div>
    <div>
      <h5>Found by Content</h5>
    </div>
    <div class="search-list-content">
      <div ng-repeat="snippet in (search.snippetArr | orderBy:'_createdAt' | filter:{data:search.searchInput})">
        <span class="search-list-item">
          <a ui-sref=".editor" ng-show="search.searchInput" class="waves-effect waves-teal  search-list-link" ng-click="search.changeSelectedSnippet(snippet.filePath)">
          <span class="search-text valign-wrapper">
            <i class="material-icons code-icon valign">code</i>{{snippet.name}}
          </span>
        </a>
        </span>
        <p class="list-description">
          {{snippet.description}}
        </p>
      </div>
    </div>
    <div>
      <h5>Found by Description</h5>
    </div>
    <div class="search-list-description">
      <div ng-repeat="snippet in search.snippetArr | orderBy:'_createdAt' | filter:{description:search.searchInput}">
        <span class="search-list-item">
          <a ui-sref=".editor" ng-show="search.searchInput" class="waves-effect waves-teal  search-list-link" ng-click="search.changeSelectedSnippet(snippet.filePath)">
          <span class="search-text valign-wrapper">
            <i class="material-icons code-icon valign">code</i>{{snippet.name}}
          </span>
        </a>
        </span>
        <p class="list-description">
          {{snippet.description}}
        </p>
      </div>
    </div>
    <div>
      <h5>Found by Tag</h5>
    </div>
    <div class="search-list-tag">
      <div ng-repeat="snippet in search.snippetArr" ng-show="search.hasTag(snippet, search.searchInput)">
        <span class="search-list-item">
          <a ui-sref=".editor" ng-show="search.searchInput" class="waves-effect waves-teal  folder-list-link" ng-click="search.changeSelectedSnippet(snippet.filePath)">
          <span class="search-text valign-wrapper">
            <i class="material-icons code-icon valign">code</i>{{snippet.name}}
          </span>
        </a>
        </span>
        <p class="list-description">
          {{snippet.description}}
        </p>
      </div>
    </div>
  </div>
</ul>
<script>
$('#search-bar').keyup(event => {
  if (event.target.value == '') {
    $('.search-results').slideUp();
  } else {
    $('.search-results').slideDown();
  }
});
</script>
