<ul id="search-list-container" class="search side-nav col s12">
  <input id="search-bar" data-activates="search-results" type="text" ng-model="search.searchInput" placeholder="Search your snippets..." focus-on="search-input" />
  <div class="search-results">
    <div>
      <h6>Found by Name</h6>
      <hr>
    </div>
    <div class="search-list-name">
      <div class="search-list" ng-repeat="snippet in search.snippetArr | orderBy:'_createdAt' | filter:{name:search.searchInput}">
        <span class="search-list-item">
          <a ui-sref=".editor" ng-show="search.searchInput" class="waves-effect waves-teal  search-list-link" ng-click="search.changeSelectedSnippet(snippet.filePath)">
          <span class="search-text valign-wrapper">
            <i class="material-icons code-icon valign">code</i>{{snippet.name}}
          </span>
        </a>
        </span>
        <p class="list-description">
          {{snippet.description}}
        </p>
      </div>
    </div>
    <div>
      <h6>Found by Content</h6>
      <hr>
    </div>
    <div class="search-list-content">
      <div class="search-list" ng-repeat="snippet in (search.snippetArr | orderBy:'_createdAt' | filter:{data:search.searchInput})">
        <span class="search-list-item">
          <a ui-sref=".editor" ng-show="search.searchInput" class="waves-effect waves-teal  search-list-link" ng-click="search.changeSelectedSnippet(snippet.filePath)">
          <span class="search-text valign-wrapper">
            <i class="material-icons code-icon valign">code</i>{{snippet.name}}
          </span>
        </a>
        </span>
        <p class="list-description">
          {{snippet.description}}
        </p>
      </div>
    </div>
    <div>
      <h6>Found by Description</h6>
      <hr>
    </div>
    <div class="search-list-description">
      <div class="search-list" ng-repeat="snippet in search.snippetArr | orderBy:'_createdAt' | filter:{description:search.searchInput}">
        <span class="search-list-item">
          <a ui-sref=".editor" ng-show="search.searchInput" class="waves-effect waves-teal  search-list-link" ng-click="search.changeSelectedSnippet(snippet.filePath)">
          <span class="search-text valign-wrapper">
            <i class="material-icons code-icon valign">code</i>{{snippet.name}}
          </span>
        </a>
        </span>
        <p class="list-description">
          {{snippet.description}}
        </p>
      </div>
    </div>
    <div>
      <h6>Found by Tag</h6>
      <hr>
    </div>
    <div ng-repeat="(snippetTag, snippets) in search.tags" class="search-list-tag" ng-show='search.hasTag(snippetTag, search.searchInput)'>
      <div class="search-list" ng-repeat="snippet in snippets">
        <span class="search-list-item">
          <a ui-sref=".editor" ng-show="search.searchInput" class="waves-effect waves-teal  folder-list-link" ng-click="search.changeSelectedSnippet(snippet.filePath)">
          <span class="search-text valign-wrapper">
            <i class="material-icons code-icon valign">code</i>{{snippet.name}}
          </span>
        </a>
        </span>
        <p class="list-description">
          {{snippet.description}}
        </p>
      </div>
    </div>
  </div>
</ul>
<script>
$('#search-bar').keyup(event => {
  if (event.target.value == '') {
    $('.search-results').slideUp();
  } else {
    $('.search-results').slideDown();
  }
});
</script>
