<div class='ng-modal' ng-show='authCtrl.show'>
  <div class='ng-modal-overlay' ng-click='authCtrl.hideModal()'></div>
  <div class='ng-modal-dialog card' ng-style='dialogStyle'>
    <div class='ng-modal-close' ng-click='authCtrl.hideModal()'>X</div>
    <div class="row">
      <div class="col s12">
        <div>
          <div class="signin-signup">
            <h2>sign up</h2>
            <div ng-click='authCtrl.githubAuth()' class="waves-effect waves-light btn github col s12">
              <img src="../../assets/octocat_white.png" />
            </div>
          </div>
          <div class="row"></div>
          <form name="userForm" ng-submit="authCtrl.signup(userForm.$valid)" novalidate>
            <div class="input-field form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
              <input id='signup-email' type='email' name='email' class='form-control validate' ng-model='authCtrl.user.email' ng-minlength="3" ng-maxlength="35" required>
              <label for='signup-email'>Email</label>
              <p ng-show="userForm.email.$error.minlength" class="help-block">Email is too short.</p>
              <p ng-show="userForm.email.$error.maxlength" class="help-block">Email is too long.</p>
              <p ng-show='authCtrl.failed' class="help-block"> User with this e-mail already exists. </p>
            </div>
            <div class="input-field form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
              <input id='signup-username' type='text' name='username' class='form-control validate' ng-model='authCtrl.user.username' ng-minlength="3" ng-maxlength="20" required>
              <label for='signup-username'>Username</label>
              <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
              <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
            </div>
            <div class="input-field form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
              <input id='signup-password' type="password" name='password' class="form-control validate" ng-model='authCtrl.user.password' ng-minlength="3" ng-maxlength="20" required>
              <label for='signup-password'>Password</label>
              <p ng-show="userForm.password.$error.minlength" class="help-block">Password is too short.</p>
              <p ng-show="userForm.password.$error.maxlength" class="help-block">Password is too long.</p>
            </div>
            <div class="input-field form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
              <input id='signup-confirm' type="password" name='passwordConfirm' class="form-control validate" ng-model='authCtrl.user.passwordConfirm' ng-minlength="3" ng-maxlength="20" required>
              <label for='signup-confirm'>Confirm Password</label>
              <p ng-show="authCtrl.user.password && authCtrl.user.password !== authCtrl.user.passwordConfirm" class="help-block">Passwords dont match.</p>
            </div>
            <button type="submit" class="waves-effect waves-light btn">Sign Up</button>
          </form>
          <a href='#' ng-click='authCtrl.switch()'>Already have an account? <strong>Signin</strong> ...</a>
        </div>
      </div>
    </div>
  </div>
</div>
