<div class='download-header row'>
  <h2>Nevercode Sublime Extension</h2>
  <img class="responsive-img" width="400px" src="../../assets/n_s.png">
  <h5>Easily integrate your code snippets and templates with sublime's snippet templates</h5>
</div>
<div class="spacing"></div>
<hr>
<div class='sublime-secret row'>
  <div class='sublime-secret-entry'>
    <span class='sublime-secret-title'>Client Secret:</span><span class='client-secret-value'>{{downloadCtrl.activeUser.sublimeSecret}}
    <a class="copy-to-clipboard tooltipped"
      data-tooltip="Copy Client Secret"
      data-position="top"
      data-delay="500"
      ngclipboard
      data-clipboard-text={{downloadCtrl.activeUser.sublimeSecret}}
      ng-click="downloadCtrl.generateNewSecret()">
      <i class="material-icons tiny">assignment</i>
    </a>
    </span>
  </div>
  <div class='sublime-secret-buttons' text-align:>
    <button ng-click="downloadCtrl.generateNewSecret()" class="col s4 offset-s4 waves-effect waves-light btn save-snippets center-align">
      Generate New Client Secret
    </button>
  </div>
</div>
<div>
  <hr>
</div>
<div class="spacing"></div>
<div class='download-instructions-container row'>
  <h4>Download Instructions</h4>
  <h6>Note: this is only supported on Macintosh Operating systems</h6>
  <ol>
    <li>Download the compressed file below and unzip it in a local directory</li>
    <li>Run the setup file by clicking on 'setup.command' If this doesn't run in a terminal emulator, navigate to the folder in your terminal and run './setup.command'. (Modify the executable permissions by typing 'chmod +x ./setup.command' in your terminal)</li>
    <li>A prompt will appear asking for your valid Nevercode client secret. Copy it above using the clipboard button, paste it into the setup script, and allow the script to run.</li>
    <li>Once setup is complete, your Sublime Editor should now contain a syncing option in your 'preferences' menu. Click this option to automatically sync your local snippets with the ones on your account.</li>
    <li>All trigger words are prefixed by 'NC_'. So for example, if you choose the trigger word 'express_setup', the actual tab trigger word would be 'NC_express_setup'</li>
    <li>Should your client-secret ever become compromised, generate a new client secret using the button above and then repeat the above installation in order to reinstall</li>
  </ol>
</div>
<div class='download-button'>
  <a href='/nevercode-sublime-setup.zip' class="waves-effect waves-light btn btn-large"><i class="material-icons left">cloud</i>Download the Sublime Plugin</a>
</div>
