<div class='ng-modal' ng-show='editorModal.show'>
  <div class='ng-modal-overlay' ng-click='editorModal.hideModal()'></div>
  <div class='ng-modal-dialog card section' ng-style='dialogStyle'>
    <div class='ng-modal-close' ng-click='editorModal.hideModal()'>X</div>
    <div class="col s9">
      <span class="snippet-modal-title">{{editorModal.snippetObj.name}}</span> <hr>
      <span>{{editorModal.snippetObj.description}}</span>
    </div>
    <div class="col s3">
      <button ng-click="editorModal.addSnippet()" class="waves-effect waves-light btn save-snippet right"
        type="submit" ng-hide='editorModal.activeUser.username === editorModal.snippetObj.username'>
        Save Snippet<i class='material-icons right'>archive</i>
      </button>
    </div>
    <div class="row tag-row">
      <div class='tags col s12 valign-wrapper'>
        <span class="tag valign">TAGS:</span>
        <span class='chip tag'
          ng-repeat="tag in editorModal.snippetMap[editorModal.selectedPublicSnippet].value.tags">
          {{ tag }}
        </span>
      </div>
    </div>
    <div class="code-editor row card">
      <div class="col s12 code-toolbar valign-wrapper">
        <a class="copy-to-clipboard tooltipped"
          data-tooltip="Copy Snippet"
          data-position="top"
          data-delay="800"
          ngclipboard
          data-clipboard-text={{editorModal.snippetObj.data}}>
          <i class="material-icons">assignment</i>
        </a>
        <div class="code-selector col s3">
          <select class="browser-default"
            ng-model="editorModal.snippetObj.language"
            ng-init="editorModal.snippetObj.language = editorModal.snippetObj.language || editorModal.cmDefaults.language"
            ng-options="language as language for language in editorModal.cmLanguages"
            ng-change="editorModal.changeLanguage(editorModal.snippetObj.language)">
          </select>
        </div>
        <div class="code-selector col s3">
          <select class="browser-default"
            ng-model="editorModal.userTheme"
            ng-init="editorModal.userTheme = editorModal.userTheme || editorModal.cmDefaults.theme"
            ng-options="theme as theme for theme in editorModal.cmThemes"
            ng-change="editorModal.changeTheme(editorModal.userTheme)">
          </select>
        </div>
        <a class="btn col s1 valign-wrapper tooltipped"
          data-tooltip="Copy Share URL"
          data-position="top"
          data-delay="800"
          ngclipboard
          data-clipboard-text="http://nevercode.com/files/n/?s={{editorModal.snippetObj._id}}">
          <i class="material-icons">share</i>
        </a>
      </div>
      <div class="col s12 public-code-mirror"
        ng-model='editorModal.snippetObj.data'
        ui-codemirror="{ onLoad : editorModal.codemirrorLoaded }"
        ui-codemirror-opts="editorModal.editorOptions">
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50})
  });
</script>