<div class="col s12 m3 l3 innerContainer transform" 
  ng-class="editor.$state.is('main.editor.search') ? null : 'card'"
  ui-view>
</div>
<div class='transform editor col s12 right' 
  ng-class="editor.$state.is('main.editor') ? 'm12 l12' : 'm9 l9'">
  <div class="row editor-row">
    <form name="snippetForm" 
      ng-submit="editor.buttonTrigger()">
      <div class="form-group snippet-title">
        <input class='form-control' id="snippet-name-input" name="title" placeholder="Name Your Snippet" type="text" ng-model='editor.snippetObj.name' ng-maxlength="20" focus-on="snippet-input-name"
        />
      </div>
      <button class="col m3 waves-effect waves-light btn save-snippet right"
        type="submit" >
        {{editor.buttonText}}<i class='material-icons right'>archive</i>
      </button>
      <p class="help-block" 
        ng-show="snippetForm.title.$error.maxlength">
        Snippet name must be less than 20 characters
      </p>
    </form>
  </div>
  <div class="row editor-row">
    <form name="descriptionForm"
      ng-submit="editor.selectedSnippet ? editor.updateSnippet() : ' '">
      <div class="form-group snippet-description">
        <input class="form-control col s12" 
          id="snippet-description-input"
          name="description"
          placeholder="add a description"
          type="text"
          ng-model="editor.snippetObj.description"
          ng-maxlength="100"
        />
        <p class="help-block"
          ng-show="descriptionForm.description.$error.maxlength" > 
          Description must be less than 100 characters
        </p>
      </div>
    </form>
  </div>
  <div class="row tag-row">
    <div class='tags col s12 valign-wrapper'>
      <span class="tag valign">TAGS:</span>
      <span class='chip tag'
        ng-repeat="tag in editor.snippetMap[editor.selectedSnippet].value.tags">
        {{ tag }}<i ng-click="editor.removeOrAddTag(tag)" class="material-icons">close</i>
      </span>
      <span class='chip tag addTag tooltipped'
        ng-hide="editor.addTag"
        ng-click="editor.toggleTag()"
        data-tooltip="Add Tag"
        data-position="right"
        data-delay="800">
        +
      </span>
      <span class='chip tag addTag tooltipped'
        ng-show="editor.addTag"
        data-tooltip="Close Input"
        data-position="bottom"
        data-delay="800"
        ng-click="editor.toggleTag()">
        x
      </span>
      <span class="tag-input valign"
        ng-show="editor.addTag" >
      <form name="tagForm"
        ng-submit="editor.removeOrAddTag()"
        novalidate>
        <input placeholder="Add tag" type="text" ng-model='editor.tag'/>
      </form>
    </span>
    </div>
    <div ng-show="editor.selectedSnippet" class='shortcut col m9 valign-wrapper'>
      <img class="tooltipped" data-position="top" data-delay="800" data-tooltip="Sublime snippet trigger keyword" width="30px" src="../../assets/subl.png">
      <span >NC_</span>
      <span class="valign">
        <form name="shortcut"
          ng-submit="editor.addShortcut()"
          novalidate>
          <input placeholder="Add shortcut"
            type="text"
            ng-model='editor.snippetObj.shortcut'
          />
        </form>
      </span>
    </div>
  </div>
  <div class="code-editor row card">
    <div class="col s12 code-toolbar valign-wrapper">
      <a class="copy-to-clipboard tooltipped"
        data-tooltip="Copy Snippet"
        data-position="top"
        data-delay="800"
        ngclipboard
        data-clipboard-text={{editor.snippetObj.data}}
        ng-click="editor.confirmCopyAction('Snippet content')">
        <i class="material-icons">assignment</i>
      </a>
      <div class="code-selector col s2 right">
        <select class="browser-default"
          ng-model="editor.snippetObj.language"
          ng-init="editor.snippetObj.language = editor.snippetObj.language || editor.cmDefaults.language"
          ng-options="language as language for language in editor.cmLanguages"
          ng-change="editor.changeLanguage(editor.snippetObj.language)">
        </select>
      </div>
      <div class="code-selector col s2">
        <select class="browser-default"
          ng-model="editor.userTheme"
          ng-init="editor.userTheme = editor.userTheme || editor.cmDefaults.theme"
          ng-options="theme as theme for theme in editor.cmThemes"
          ng-change="editor.changeTheme(editor.userTheme)">
        </select>
      </div>
      <a class="btn col s1 valign-wrapper tooltipped"
        ng-show="editor.activeUser.username"
        data-tooltip="Copy Share URL"
        data-position="top"
        data-delay="800"
        ngclipboard
        data-clipboard-text="http://nevercode.com/files/n/?s={{editor.snippetObj._id}}">
        <i class="material-icons">share</i><span class="valign">Share</span>
      </a>
      <div class="switch col s3 right-align tooltipped"
        data-tooltip="Toggle Public/Private status"
        data-position="top"
        data-delay="800"
        ng-show="editor.selectedSnippet">
        <label>
          {{editor.snippetObj.public ? 'Public' : 'Private'}}
          <input type="checkbox" ng-checked="editor.snippetObj.public"
            ng-click="editor.selectedSnippet ? editor.togglePublic() : ''">
          <span class="lever"></span>
        </label>
      </div>
    </div>
    <div class="comment-btn">
      <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn tooltipped"
          data-tooltip="Add Notes"
          data-position="left"
          data-delay="800"
          ng-click="editor.toggleAnnotation()">
          <i class="material-icons">comment</i>
        </a>
      </div>
    </div>
    <div ng-class="editor.showAnnotation ? 'col m7 s12 code-mirror' : 'col s12 code-mirror'"
      ng-model='editor.snippetObj.data'
      ui-codemirror="{ onLoad : editor.codemirrorLoaded }"
      ui-codemirror-opts="editor.editorOptions">
    </div>
    <div ng-class="editor.showAnnotation ? 'col m5 s12 annotations' : 'toggle-annotation'">
      <form name="annotate"
        ng-submit="editor.updateSnippet(editor.snippetObj.filePath)"
        novalidate>
        <h5 class="center-align">Notes</h5>
        <hr>
        <textarea ui-tinymce="editor.tinymceOptions"
          ng-model="editor.snippetObj.annotation"
        />
        <button class="col s12 waves-effect waves-light btn save-annotation"
          type="submit" >
          Save<i class='material-icons right'>system_update_alt</i>
        </button>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50})
  });
</script>