<nav class="top-nav white">
  <div class="nav-wrapper fixed">
    <ul ng-show='mainCtrl.activeUser.email' class="center breadcrumbs">
      <a ng-if='!mainCtrl.clickedBC' ng-repeat="folder in mainCtrl.breadcrumbPath track by folder.filePath" ui-sref='.snippets' ng-click="mainCtrl.changeActiveTab(folder.filePath)" class="breadcrumb">{{folder.value}}</a>
    </ul>
    <ul ng-hide='mainCtrl.activeUser.email' class="right">
      <li><a ng-click="mainCtrl.toggleSigninModal()">Login</a></li>
      <li><a ng-click="mainCtrl.toggleSignupModal()">Signup</a></li>
    </ul>
  </div>
</nav>
<div class="row">
  <ul id="nav-mobile" class="side-nav col s3 m1 l1 main">
  <li class="row corner-logo">
    <div class="nav-icon">
      <a ui-sref="main.public" class="waves-effect waves-teal nav-link">
         <img class="icon button-collapse mid-navigation-menu" src="../../n.png" />
      </a>
    </div>
  </li>
    <li class="row">
      <div class="nav-icon">
        <a ui-sref="main" class="waves-effect avatar waves-teal nav-link">
          <img ng-show='mainCtrl.avatar' class="circle button-collapse mid-navigation-menu" src={{mainCtrl.avatar}} />
          <img ng-hide='mainCtrl.avatar' class="icon button-collapse mid-navigation-menu" src="https://d30y9cdsu7xlg0.cloudfront.net/png/17485-200.png" />
        </a>
      </div>
    </li>
    <li class="row" ng-click="mainCtrl.toggleSideView('editor', true)">
      <div class="nav-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="50" data-tooltip="Create Snippet">
          <i class="material-icons center">add</i>
        </a>
      </div>
    </li>
    <li class="row" ng-click="mainCtrl.toggleSideView('editor.search')">
      <div class="nav-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="50" data-tooltip="Search for ...">
          <i class="material-icons center">search</i>
        </a>
      </div>
    </li>
    <li class="row" ng-click="mainCtrl.toggleSideView('editor.favorites')">
      <div class="nav-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="50" data-tooltip="Favorites">
          <i class="material-icons">star</i>
        </a>
      </div>
    </li>
    <li class="row" ng-click="mainCtrl.toggleSideView('editor.snippets')">
      <div class="nav-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="50" data-tooltip="Folders">
          <i class="material-icons">library_books</i>
        </a>
      </div>
    </li>
    <li class="row" ng-click="mainCtrl.toggleSideView('download')">
      <div class="nav-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="50" data-tooltip="Sublime Plugin">
          <img width="30px" src="../../sublime_bw.png">
        </a>
      </div>
    </li>
    <li class="row" ng-show='mainCtrl.activeUser.email'>
      <div class="nav-icon">
        <a ui-sref='main' class="waves-effect waves-teal nav-link logout tooltipped" data-position="right" data-delay="50" data-tooltip="Logout" ng-click='mainCtrl.signout()'>
          <i class="material-icons left">power_settings_new</i>
        </a>
      </div>
    </li>
  </ul>
  <div class="outerContainer col s11 transform" ui-view>
  </div>
</div>


<!-- -------------- MODAL VIEW -------------- -->
<signin show='mainCtrl.signinModalShow' width='750px' height='400px'>
</signin>

<signup show='mainCtrl.signupModalShow' width='750px' height='400px'>
</signup>
