<nav class="top-nav white">
  <div class="nav-wrapper fixed">
    <ul ng-show='mainCtrl.activeUser.email' class="center breadcrumbs">
      <a ng-if='!mainCtrl.clickedBC' ng-repeat="folder in mainCtrl.breadcrumbPath track by folder.filePath" ui-sref='.snippets' ng-click="mainCtrl.changeActiveTab(folder.filePath)" class="breadcrumb">{{folder.value}}</a>
    </ul>
    <ul ng-hide='mainCtrl.activeUser.email' class="right">
      <li ng-click='mainCtrl.openModal()'><a href="#signin-modal" class="modal-trigger">Modal</a></li>
      <li><a ui-sref='main.signin'>Login</a></li>
    </ul>
  </div>
</nav>
<div class="row">
  <ul id="nav-mobile" class="side-nav col s3 m1 l1 main">
  <li class="row corner-logo">
    <div class="nav-icon">
      <a ui-sref="main.public" class="waves-effect waves-teal nav-link">
         <img class="icon button-collapse mid-navigation-menu" src="../../n.png" />
      </a>
    </div>
  </li>
    <li class="row">
      <div class="nav-icon">
        <a ui-sref="main" class="waves-effect avatar waves-teal nav-link">
          <img ng-show='mainCtrl.avatar' class="circle button-collapse mid-navigation-menu" src={{mainCtrl.avatar}} />
          <img ng-hide='mainCtrl.avatar' class="icon button-collapse mid-navigation-menu" src="https://d30y9cdsu7xlg0.cloudfront.net/png/17485-200.png" />
        </a>
      </div>
    </li>
    <li class="row" ng-click="mainCtrl.toggleSideView('editor', true)">
      <div class="nav-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="50" data-tooltip="Create Snippet">
          <i class="material-icons center">add</i>
        </a>
      </div>
    </li>
    <li class="row" ng-click="mainCtrl.toggleSideView('editor.search')">
      <div class="nav-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="50" data-tooltip="Search for ...">
          <i class="material-icons center">search</i>
        </a>
      </div>
    </li>
    <li class="row" ng-click="mainCtrl.toggleSideView('editor.favorites')">
      <div class="nav-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="50" data-tooltip="Favorites">
          <i class="material-icons">star</i>
        </a>
      </div>
    </li>
    <li class="row" ng-click="mainCtrl.toggleSideView('editor.snippets')">
      <div class="nav-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="50" data-tooltip="Folders">
          <i class="material-icons">library_books</i>
        </a>
      </div>
    </li>
    <li class="row" ng-click="mainCtrl.toggleSideView('download')">
      <div class="nav-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="50" data-tooltip="Sublime Plugin">
          <i class="material-icons">assignment_returned</i>
        </a>
      </div>
    </li>
    <li class="row" ng-show='mainCtrl.activeUser.email'>
      <div class="nav-icon">
        <a ui-sref='main' class="waves-effect waves-teal nav-link logout tooltipped" data-position="right" data-delay="50" data-tooltip="Logout" ng-click='mainCtrl.signout()'>
          <i class="material-icons left">power_settings_new</i>
        </a>
      </div>
    </li>
  </ul>
  <div class="outerContainer col s11 rotate" ui-view>
  </div>
</div>


<!-- -------------- MODAL VIEW -------------- -->

<div id="signin-modal" class="signin modal">
  <div class="modal-content row row-centered">
    <div class="col s4 offset-s4 col-centered">
      <div id='signin'>
        <h2>Sign In</h2>
        <form name="userForm" ng-submit="authCtrl.signin(userForm.$valid)" novalidate>
          <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <input type='text' placeholder="Email" name='email' class='form-control, validate' ng-model='authCtrl.user.email' required>
            <p ng-hide='authCtrl.failed' class="help-block"> Invalid information. Try again. </p>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
            <input type="password" placeholder="Password" name='password' class="form-control" ng-model='authCtrl.user.password' required>
          </div>
          <button type="submit" class="waves-effect waves-light btn">Sign In</button>
        </form>
        <div class="github">
          <a ng-click='authCtrl.githubAuth()'>Sign In with Github</a>
        </div>
        <a ui-sref="main.signup">Don't have an account? <strong>Signup</strong> ...</a>
      </div>
    </div>
  </div>
</div>