<nav class="top-nav white">
  <div class="nav-wrapper fixed">
    <ul ng-show='mainCtrl.activeUser.email' class="center breadcrumbs">
      <a ng-show="mainCtrl.$state.includes('main.editor')" ng-repeat="folder in mainCtrl.breadcrumbPath track by folder.filePath" ui-sref='main.editor.snippets' ng-click="mainCtrl.changeActiveTab(folder.filePath)" class="breadcrumb">{{folder.value}}</a>
      <li><a ng-click="mainCtrl.toggleSideView('about')">About</a></li>
      <li class='right'><a ui-sref='main.about'>About</a></li>
    </ul>
    <ul ng-hide='mainCtrl.activeUser.email' class="right">
      <li><a ui-sref='main.about'>About</a></li>
      <li><a ng-click="mainCtrl.toggleSigninModal()">Login</a></li>
      <li><a ng-click="mainCtrl.toggleSignupModal()">Signup</a></li>
    </ul>
  </div>
</nav>
<div class="row">
  <ul ng-show='mainCtrl.activeUser.email' id="nav-mobile" class="side-nav col s3 m1 l1 main">
  <li class="row corner-logo">
    <div class="nav-icon">
      <a ui-sref="main.public" class="waves-effect waves-teal nav-link">
         <img class="icon button-collapse mid-navigation-menu" src="../../assets/n.png" />
      </a>
    </div>
  </li>
    <li class="row" ng-click="mainCtrl.toggleSideView('editor.profile')">
      <div class="nav-icon">
        <a class="waves-effect avatar waves-teal nav-link tooltipped" data-position="right" data-delay="50" data-tooltip="Profile" >
          <img ng-show='mainCtrl.avatar' class="circle button-collapse mid-navigation-menu" src={{mainCtrl.avatar}} />
          <img ng-hide='mainCtrl.avatar' class="icon button-collapse mid-navigation-menu" src="../../assets/avatar.png" />
         </a>
      </div>
    </li>
    <li class="row" ng-click="mainCtrl.toggleSideView('editor.search')">
      <div class="nav-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="50" data-tooltip="Search for ...">
          <i class="material-icons center">search</i>
        </a>
      </div>
    </li>
    <li class="row" ng-click="mainCtrl.toggleSideView('editor', true)">
      <div class="nav-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="50" data-tooltip="Create Snippet">
          <i class="material-icons center">add</i>
        </a>
      </div>
    </li>
    <li class="row" ng-click="mainCtrl.toggleSideView('editor.favorites')">
      <div class="nav-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="50" data-tooltip="Favorites">
          <i class="material-icons">star</i>
        </a>
      </div>
    </li>
    <li class="row" ng-click="mainCtrl.toggleSideView('editor.snippets')">
      <div class="nav-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="50" data-tooltip="Folders">
          <i class="material-icons">library_books</i>
        </a>
      </div>
    </li>
    <li ui-sref='main.public' class="row">
      <div class="nav-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="50" data-tooltip="Public Page">
          <i class="material-icons">people</i>
        </a>
      </div>
    </li>
    <li ui-sref='main.download' class="row">
      <div class="nav-icon subl-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="50" data-tooltip="Sublime Plugin">
          <img src="../../assets/subl_bw.png">
        </a>
      </div>
    </li>
    <li class="row" ng-show='mainCtrl.activeUser.email'>
      <div class="nav-icon">
        <a ui-sref='main' class="waves-effect waves-teal nav-link logout tooltipped" data-position="right" data-delay="50" data-tooltip="Logout" ng-click='mainCtrl.signout()'>
          <i class="material-icons left">power_settings_new</i>
        </a>
      </div>
    </li>
  </ul>
  <div class="outerContainer col s11" ui-view>
  </div>
</div>


<!-- -------------- MODAL VIEW -------------- -->
<signin  show='mainCtrl.signinModalShow' other='mainCtrl.signupModalShow' width='550px' height='600px'>
</signin>

<signup  show='mainCtrl.signupModalShow' other='mainCtrl.signinModalShow' width='550px' height='600px'>
</signup>
