 <nav class="top-nav white">
  <div class="nav-wrapper fixed">
    <a class="button-collapse left hide-on-med-and-up"
      ng-show='mainCtrl.activeUser.email'
      data-activates="nav-mobile">
      <i class="material-icons">menu</i>
    </a>
    <ul class="center breadcrumbs"
      ng-show='mainCtrl.activeUser.email' >
      <a class="breadcrumb"
        ui-sref='main.editor.snippets'
        ng-show="mainCtrl.$state.includes('main.editor')"
        ng-repeat="folder in mainCtrl.breadcrumbPath track by folder.filePath"
        ng-click="mainCtrl.changeActiveTab(folder.filePath)" >
        {{folder.value}}
      </a>
      <li class='right'><a ui-sref='main.about'>About</a></li>
      <li class='right'><a ui-sref='main.public'>Home</a></li>
    </ul>
    
    <ul ng-hide='mainCtrl.activeUser.email' class="right">
      <li ng-hide="mainCtrl.$state.includes('main.about')"><a ui-sref='main.about'>About</a></li>
      <li><a ng-click="mainCtrl.toggleSigninModal()">Login</a></li>
      <li><a ng-click="mainCtrl.toggleSignupModal()">Signup</a></li>
      <li><a ui-sref='main.public'>Home</a></li>
    </ul>

    <ul ng-show='mainCtrl.activeUser.email' id="nav-mobile" class="side-nav">
      <li class="row corner-logo">
        <div class="nav-icon">
          <a ui-sref="main.public" class="waves-effect waves-teal nav-link">
             <img class="icon" src="../../assets/N_square.png" />
          </a>
        </div>
      </li>
      <li class="row" ng-click="mainCtrl.toggleSideView('editor.profile')">
        <div class="nav-icon">
          <a class="waves-effect avatar waves-teal nav-link tooltipped"
            data-tooltip="Profile"
            data-position="right"
            data-delay="800" >
            <img src={{mainCtrl.avatar}}
              class="circle"
              ng-show='mainCtrl.avatar'/>
            <img src="../../assets/avatar.png"
              class="circle"
              ng-hide='mainCtrl.avatar'/>
           </a>
        </div>
      </li>
      <li class="row" ng-click="mainCtrl.toggleSideView('editor.search')">
        <div class="nav-icon">
          <a class="waves-effect waves-teal nav-link tooltipped" 
            data-tooltip="Search for ..."
            data-position="right" 
            data-delay="800">
            <i class="material-icons center">search</i>
          </a>
        </div>
      </li>
      <li class="row" ng-click="mainCtrl.toggleSideView('editor', true)">
        <div class="nav-icon">
          <a class="waves-effect waves-teal nav-link tooltipped" 
            data-tooltip="Create Snippet"
            data-position="right"
            data-delay="800">
            <i class="material-icons center">add</i>
          </a>
        </div>
      </li>
      <li class="row" ng-click="mainCtrl.toggleSideView('editor.favorites')">
        <div class="nav-icon">
          <a class="waves-effect waves-teal nav-link tooltipped"  
            data-tooltip="Favorites"
            data-position="right"
            data-delay="800">
            <i class="material-icons">star</i>
          </a>
        </div>
      </li>
      <li class="row" ng-click="mainCtrl.toggleSideView('editor.snippets')">
        <div class="nav-icon">
          <a class="waves-effect waves-teal nav-link tooltipped"  
            data-tooltip="Folders"
            data-position="right" 
            data-delay="800">
            <i class="material-icons">library_books</i>
          </a>
        </div>
      </li>
      <li ui-sref='main.public' class="row">
        <div class="nav-icon">
          <a class="waves-effect waves-teal nav-link tooltipped"
            data-tooltip="Pub"
            data-position="right" 
            data-delay="800">
            <i class="material-icons">people</i>
          </a>
        </div>
      </li>
    </ul>

  </div>
</nav>

<div class="row">
  <ul ng-show='mainCtrl.activeUser.email' id="nav-desktop" class="side-nav col s3 m1 l1 main hide-on-small-only">
    <li class="row corner-logo">
      <div class="nav-icon">
        <a ui-sref="main.public" class="waves-effect nav-link waves-teal nav-link">
           <img class="icon" ui-sref="main.public" src="../../assets/n.png" />
        </a>
      </div>
    </li>
    <li class="row">
      <div class="nav-icon">
        <a ng-click="mainCtrl.toggleSideView('editor.profile')" class="waves-effect avatar waves-teal nav-link tooltipped" data-position="right" data-delay="800" data-tooltip="Profile" >
          <img ng-show='mainCtrl.avatar' class="circle mid-navigation-menu" src={{mainCtrl.avatar}} />
          <img ng-hide='mainCtrl.avatar' class="icon mid-navigation-menu" src="../../assets/avatar.png" />
         </a>
      </div>
    </li>
    <li class="row" ng-click="mainCtrl.toggleSideView('editor.search')">
      <div class="nav-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="800" data-tooltip="Search for ...">
          <i class="material-icons center">search</i>
        </a>
      </div>
    </li>
    <li class="row" ng-click="mainCtrl.toggleSideView('editor', true)">
      <div class="nav-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="800" data-tooltip="Create Snippet">
          <i class="material-icons center">add</i>
        </a>
      </div>
    </li>
    <li class="row" ng-click="mainCtrl.toggleSideView('editor.favorites')">
      <div class="nav-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="800" data-tooltip="Favorites">
          <i class="material-icons">star</i>
        </a>
      </div>
    </li>
    <li class="row" ng-click="mainCtrl.toggleSideView('editor.snippets')">
      <div class="nav-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="800" data-tooltip="Folders">
          <i class="material-icons">library_books</i>
        </a>
      </div>
    </li>
    <li ui-sref='main.public' class="row">
      <div class="nav-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="800" data-tooltip="Public Page">
          <i class="material-icons">people</i>
        </a>
      </div>
    </li>
    <li ui-sref='main.download' class="row">
      <div class="nav-icon subl-icon">
        <a class="waves-effect waves-teal nav-link tooltipped" data-position="right" data-delay="800" data-tooltip="Sublime Plugin">
          <img src="../../assets/subl_bw.png">
        </a>
      </div>
    </li>
  </ul>
  <div class="outerContainer col s12 m11"
    id="outer-container"
    ui-view>
  </div>
</div>

<!-- -------------- MODAL VIEW -------------- -->
<signin  show='mainCtrl.signinModalShow' other='mainCtrl.signupModalShow' width='400px' height='auto'>
</signin>

<signup  show='mainCtrl.signupModalShow' other='mainCtrl.signinModalShow' width='400px' height='auto'>
</signup>
<script>$(".button-collapse").sideNav({closeOnClick: true})</script>
