<div class="innerContainer" ui-view>
  <div class="row">
    <h3 class="center"><span style="font-weight: 100">About never</span>:code</h1>
  </div>
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="carousel center">
        <a class="carousel-item"
          ng-click="$('.carousel').carousel('next');">
          <img class="circle" src="../../N_square.png">
        </a>
        <a class="carousel-item"
          ng-click="$('.carousel').carousel('next');">
          <img class="circle" src="../../gh_gy.jpeg">
        </a>
        <a class="carousel-item"
          ng-click="$('.carousel').carousel('next');">
          <img class="circle" src="../../gh_eh.jpeg">
        </a>
        <a class="carousel-item"
          ng-click="$('.carousel').carousel('next');">
          <img class="circle" src="../../gh_oc.jpg">
        </a>
        <a class="carousel-item"
          ng-click="$('.carousel').carousel('next');">
          <img class="circle" src="../../gh_mk.png">
        </a>
      </div>
    </div>
  </div>
  <div class="row center">
    <div class="col s8">
      Nevercode is driven by the question, "How do you become a world class programmer?"
      We aim to help take great programmers and make them wizards by allowing them to easily
      store, edit, and retrieve code throughout their careers. Instead of rifiling through old
      project files for your interesting or useful algorithms, test arrays, and boilerplates
      try pulling them straight into your text editor with &ltN&gtever:code
    </div>
  </div>
</div>
<script>$('.carousel').carousel();</script>