<ul class="snippets side-nav s12">
  <div class="col s12">
    <h4>Favorites</h4>
  </div>
  <div class="row" ng-repeat="snippet in snippets.snippetArr | filter:{favorite:true}">
    <div class="col s8">
      <a class="waves-effect waves-teal collection-item" ng-click="snippets.changeSelectedSnippet(snippet.filePath)">
        <i class=" small material-icons">description</i>{{snippet.name}}
      </a>
    </div>
    <div class="col s2">
      <a class="waves-effect waves-teal right"><i ng-click="snippets.toggleFavorite(snippet)" class=" small material-icons snippet-icon">star</i></a>
    </div>
  </div>
</ul>