<ul class="snippets side-nav col s12 m3 l3">
  <div class="col s12">
    <h4>Favorites</h4>
  </div>
  <div class="row" ng-repeat="snippet in snippets.visibleSnippets">
    <div class="col s8">
      <a ui-sref=".editor" class="waves-effect waves-teal collection-item" ng-click="snippets.changeSelectedSnippet(snippet.filePath)">
        <i class=" small material-icons">description</i>{{snippet.value.name}}
      </a>
    </div>
    <div class="col s2">
      <a class="waves-effect waves-teal right"><i ng-click="snippets.toggleFavorite(snippet)" class=" small material-icons snippet-icon">star</i></a>
    </div>
  </div>
</ul>
<div class="col s12 m9 l9 editor" ui-view></div>