<ul id="nav-mobile" class="side-nav col s3" style="width: 240px;">
  <li class="search">
    <div class="search-wrapper card">
      <input id="search" /><i class="material-icons">search</i>
      <div class="search-results"></div>
    </div>
  </li>
  <li>
    <form name="snippetForm" ng-submit="snippets.addSnippetToFileTree()" novalidate>
      <div class="form-group">
        <input placeholder="New Snippet" type="text" class="validate" class='form-control' maxlength="20" ng-minlength='1' ng-model='snippets.snippet.name' />
      </div>
    </form>
  </li>
  <li class='snippet' ng-repeat="snippet in snippets.value">
    <a ui-sref='.editor' class="waves-effect waves-teal" ng-click='snippets.setSelectedSnippet()'>{{snippet.name}}</a>
  </li>
</ul>
<div ui-view></div>
