<div>
  <div class="splash">
    <img src="../../assets/n.png">
    <h1><span>never</span>:code</h1>
    <h5>Your most useful code snippets in one place.</h5>
  </div>
  <div class="splash-buttons">
      <a class="waves-effect waves-light btn center" ui-sref='main.editor'>Editor</a>
  </div>
  <div>
    <h4 class='public-header'>Public Snippets</h4>
    <div>
      <input id="public-search" type="text" ng-model="searchInput" placeholder="Search public snippets..." />
    </div>
  </div>
  <div class="row">
    <ul class="">
      <li class="snippet-gallery col s12 m4 l3"
        ng-repeat="snippet in public.snippetArr | filter:{name:searchInput} track by snippet.filePath">
        <div class="card snippet-gallery-card"
          ng-click="public.openSnippet(snippet.value.filePath)">
          <h5>{{snippet.value.name}}</h5>
          <hr>
          <p>{{snippet.value.description}}</p>
          <p>{{snippet.value.username}}<br>
             {{snippet.value.language}}
          </p>
          <span class="chip public-chip"
            ng-repeat="tag in snippet.tags">
              {{tag}}
          </span>
        </div>
      </li>
    </ul>
    <div class="preloader-wrapper active" ng-show="public.loading">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
