<div>
  <div class="splash-container">
    <div class="splash">
      <img src="../../assets/n.png">
      <h1><span>never</span>:code</h1>
      <h5>Your most useful code snippets in one place.</h5>
    </div>
  </div>
  <div>
    <h4 class='public-header'>Public Snippets</h4>
    <div class="public-search-box">
      <div id="public-search">
        <input type="text" ng-model="searchInput" placeholder="Search public snippets..." />
      </div>
    </div>
  </div>
  <div id="public-snippets-container" class="row">
    <hr>
    <ul class="public-snippet-list">
      <li class="snippet-gallery col s12 m4 l3"
        ng-click="public.toggleEditorModal(snippetNode.value.filePath)"
        ng-repeat="snippetNode in (public.snippetArr | filter:searchInput) track by snippetNode.filePath">
        <div class="card snippet-gallery-card">
          <div class="card-title">
            <h5>{{snippetNode.value.name}} <i class="material-icons col s2 snippet-card-icon">launch</i></h5>
            <hr>
          </div>
          <div>
            <p><span>created by: </span>{{snippetNode.value.username}}<br>
               <span>language: </span>{{snippetNode.value.language}}<br>
            </p>
            <hr>
            <p>{{snippetNode.value.description}}</p>
            <p class='chip tag'
              ng-repeat="tag in snippetNode.value.tags">
              {{ tag }}
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="preloader-wrapper active" ng-show="public.loading">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
          <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
          <div class="circle"></div>
      </div>
    </div>
  </div>
<!-- -------------- MODAL VIEW -------------- -->
  <editor  show='public.editorModalShow' snippetPath='public.selectedPublicSnippet' width='75vw' height='75vh'>
  </editor>
</div>

