<nav>
  <div class="nav-wrapper">
    <div class="left center-align col s4">
      <a href="#" class="brand-logo hide-on-med-and-down">ever:code</a>
    </div>
    <ul class="center">
      <a ng-repeat="path in directories.breadcrumbPath" ui-sref={{path[2]}} ng-click="directories.changeActiveTab(path[1])" class="breadcrumb">{{path[0]}}</a>
      <a ui-sref='signout' class='right'><i class="material-icons left">power_settings_new</i>Logout</a>
    </ul>
  </div>
</nav>
<div class="row">
  <ul id="nav-mobile" class="side-nav col s12 m2 l2 main">
    <li class="search">
      <div class="input-field card col s12">
        <i class="material-icons prefix">search</i>
        <input id="search-bar" data-activates="dropdown1" type="text" ng-model="search" placeHolder="Search..." />
        <div class="search-results">
          <ul id="dropdown1">
            <li ng-hide="!search" ng-repeat="snippet in directories.snippetArr | filter:{name:search}">
              {{snippet.name}}
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <form name="folderForm" ng-submit="directories.addFolder()" novalidate>
        <div class="form-group">
          <input placeholder="New Folder" type="text" class="validate" class="form-control" maxlength="20" ng-minlength="1" ng-model="directories.folder.name" />
        </div>
      </form>
    </li>
    <li class="folder"><a ui-sref=".favorites" class="waves-effect waves-teal">Favorites</a></li>
    <li class="folder" ng-repeat="folder in directories.folders">
      <a class="waves-effect waves-teal" ng-click="directories.changeActiveTab(folder.filePath)" ui-sref=".snippets">{{folder.value}}</a>
    </li>
  </ul>
  <div class="col s12 m10 l10" ui-view>
  </div>
  <script>
  $('#search-bar').keyup(function(event) {
    if (event.target.value == '') {
      $('.search-results').slideUp();
    } else {
      $('.search-results').slideDown();
    }
  });
  </script>
  <style>
  .search-results {
    diplay: none;
  }
  </style>
</div>
