<ul class="search side-nav col s12 m3 l3">
  <input id="search-bar" data-activates="search-results" type="text" ng-model="search.searchInput" placeholder="Search..." />
  <div class="search-results">
    <a ui-sref=".editor" ng-show="search.searchInput" ng-repeat="snippet in search.snippetArr | filter:{name:search.searchInput}" class="waves-effect waves-teal collection-item" ng-click="search.changeSelectedSnippet(snippet.filePath)">{{snippet.name}}
    </a>
  </div>
</ul>
<div class="col s12 m9 l9 editor" ui-view></div>

<script>
$('#search-bar').keyup(function(event) {
  if (event.target.value == '') {
    $('.search-results').slideUp();
  } else {
    $('.search-results').slideDown();
  }
});
</script>